In [1]:
# Prepare a classification model using SVM for salary data

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams

In [3]:
rcParams['figure.figsize'] = 12, 8
import os

In [4]:
print(os.listdir("D:\\360DigiTMG\\Black Box Technique SVM\\HANDS ON MATERIAL\\"))
train=pd.read_csv("D:\\360DigiTMG\\Black Box Technique SVM\\HANDS ON MATERIAL\\SalaryData_Train.csv")
test=pd.read_csv("D:\\360DigiTMG\\Black Box Technique SVM\\HANDS ON MATERIAL\\SalaryData_Test.csv")

['Black Box Technique-SVM', 'Black Box Technique-SVM.zip', 'forestfires Python Document.docx', 'forestfires R code.docx', 'forestfires.csv', 'forestfires.csv.zip', 'forestfires.py', 'forestfires.r', 'Module-17.pdf', 'New Text Document.txt', 'SalaryDataTestTrain R document.docx', 'SalaryDataTestTrain.py', 'SalaryDataTestTrain.r', 'SalaryData_Test.csv', 'SalaryData_Test.csv.zip', 'SalaryData_Train.csv', 'SalaryData_Train.csv.zip']

In [5]:
train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
train.educationno.nunique()

16

In [7]:
train.shape

(30161, 14)

In [8]:
train.age.value_counts()

36    852
31    851
33    837
34    836
37    828
     ...
82      7
83      5
85      3
88      3
86      1
Name: age, Length: 72, dtype: int64

In [9]:
print(1)

1

In [10]:
print(2)

2

In [11]:
# target=pd.get_dummies(train.salary)
test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [12]:
# train.experience.apply(lambda x:x.split("-"))
train.hoursperweek.value_counts()
df=train.copy()

In [13]:
df.capitalloss.fillna('None',inplace=True)
df.capitalgain.fillna('None',inplace=True)